                              /* Ipad xoay ngang  */
                              
                              @media (min-width:1023px) and (max-width:1024px) {
                                  header .navigation {
                                      top: 8px;
                                      left: 26px;
                                  }
                                  header .navigation li {
                                      margin: unset;
                                      padding: 0px 12px;
                                  }
                                  header.sticky ul {
                                      margin-top: 0px;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 88px 45px;
                                      margin-left: 0px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                                  .hinhanh .listhinhanh .container {
                                      width: 100%;
                                  }
                                  .hinhanh .title h1 {
                                      padding-top: 0px;
                                  }
                              }
                              /* END  */
                              /* Ipad doc  */
                              
                              @media (min-width:767px) and (max-width:768px) {
                                  .introduce .space-live .image {
                                      margin-left: 8px;
                                  }
                                  #tongquan {
                                      display: flex;
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 88px 35px;
                                      margin-left: 0px;
                                  }
                                  .sodo .left,
                                  .image {
                                      padding: 100px 0px;
                                  }
                                  .sodo .tab-content .tab-2 {
                                      justify-content: space-around;
                                  }
                                  .sodo .tab-content .tab-1 {
                                      justify-content: space-around;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                                  footer .info {
                                      flex-direction: column;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  .hinhanh .listhinhanh .container {
                                      width: 100%;
                                  }
                                  .hinhanh .title h1 {
                                      padding-top: 0px;
                                  }
                              }
                              /* END  */
                              /* Iphone X dọc  */
                              
                              @media (min-width:374px) and (max-width:375px) {
                                  .banner .content .content-contact,
                                  p {
                                      display: flex;
                                      flex-direction: column;
                                  }
                                  .banner .content .content-contact .gachgiua {
                                      display: none;
                                  }
                                  .banner .content .content-contact p span {
                                      padding: 0px;
                                  }
                                  .banner .content .input {
                                      margin-top: -38px;
                                      text-align: center;
                                  }
                                  .banner {
                                      min-height: 80vh;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 0px 0px;
                                      margin-left: 0px;
                                  }
                                  .introduce .space-live .right-image .chiso ul {
                                      display: none;
                                  }
                                  .introduce .space-live .right-image {
                                      padding: 10px 36px;
                                      margin-left: -71px;
                                  }
                                  #tongquan {
                                      display: flex;
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .space-live .image {
                                      height: 300px;
                                  }
                                  .introduce .overview-project .image {
                                      height: 300px;
                                  }
                                  .introduce .space-live .pr-15 {
                                      padding-right: 0px;
                                  }
                                  .location {
                                      padding: 5px;
                                  }
                                  .location .map {
                                      height: 300px;
                                  }
                                  .sodo .tab-content .tab-1 {
                                      display: unset;
                                  }
                                  .sodo ul {
                                      margin-bottom: 0px !important;
                                  }
                                  .sodo .tab-content .tab-1 .five-eight ul {
                                      margin-left: 0px;
                                      margin-bottom: 0px;
                                  }
                                  .sodo .tab-content .tab-2 {
                                      display: unset;
                                  }
                                  .sodo .tab-content .tab-2 .five-eight ul {
                                      margin-left: 0px;
                                      margin-bottom: 0px;
                                  }
                                  footer .contact .form-contact {
                                      padding: 15px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                                  footer .info {
                                      flex-direction: column;
                                  }
                              }
                              /* END  */
                              /* Iphone X xoay ngang  */
                              
                              @media (min-width:811px) and (max-width:812px) {
                                  .banner {
                                      min-height: 150vh;
                                  }
                                  .introduce .space-live .right-image {
                                      padding: 10px 0px;
                                  }
                                  .introduce .space-live .pr-15 {
                                      padding-right: 0px;
                                  }
                                  .introduce .space-live .pl-15 {
                                      padding-left: 0px;
                                  }
                                  #tongquan {
                                      display: flex;
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .space-live .right-image .chiso {
                                      margin: 30px 0px 67px 0px;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 15px 0px;
                                      margin-left: 0px;
                                  }
                                  .location {
                                      padding: 5px;
                                  }
                                  .location .container {
                                      max-width: 100%;
                                  }
                                  .sodo .left,
                                  .image {
                                      padding: 100px 0px;
                                  }
                                  .sodo .tab-content .tab-2 {
                                      justify-content: space-around;
                                  }
                                  .sodo .tab-content .tab-1 {
                                      justify-content: space-around;
                                  }
                                  footer .contact .form-contact {
                                      padding: 15px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                              }
                              /* END  */
                              /* Iphone 6 7 8 Plus dọc  */
                              
                              @media (min-width:413px) and (max-width:414px) {
                                  .banner .content .content-contact,
                                  p {
                                      display: flex;
                                      flex-direction: column;
                                  }
                                  .banner .content .content-contact .gachgiua {
                                      display: none;
                                  }
                                  .banner .content .content-contact p span {
                                      padding: 0px;
                                  }
                                  .banner .content .input {
                                      margin-top: -38px;
                                      text-align: center;
                                  }
                                  .introduce .space-live .pr-15 {
                                      padding-right: 0px;
                                  }
                                  .introduce .space-live .right-image {
                                      padding: 15px 0px;
                                  }
                                  .introduce .space-live .pl-15 {
                                      padding-left: 0px;
                                  }
                                  .introduce .space-live .right-image .chiso {
                                      display: none;
                                  }
                                  .introduce .space-live .image {
                                      height: 300px;
                                  }
                                  #tongquan {
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .overview-project .image {
                                      height: 300px;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 15px 0px;
                                      margin-left: 0px;
                                  }
                                  .location {
                                      padding: 5px;
                                  }
                                  .location .map {
                                      height: 300px;
                                  }
                                  .sodo .tab-content .tab-1 {
                                      display: unset;
                                  }
                                  .sodo ul {
                                      margin-bottom: 0px !important;
                                  }
                                  .sodo .tab-content .tab-1 .five-eight ul {
                                      margin-left: 0px;
                                      margin-bottom: 0px;
                                  }
                                  .sodo .tab-content .tab-2 {
                                      display: unset;
                                  }
                                  .sodo .tab-content .tab-2 .five-eight ul {
                                      margin-left: 0px;
                                      margin-bottom: 0px;
                                  }
                                  footer .contact .form-contact {
                                      padding: 15px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                                  footer .info {
                                      flex-direction: column;
                                  }
                              }
                              /* END  */
                              /* Iphone 678 Plus xoay ngang  */
                              
                              @media (min-width:735px) and (max-width:736px) {
                                  .banner .content .content-contact,
                                  p {
                                      display: flex;
                                      flex-direction: column;
                                  }
                                  .banner .content .content-contact .gachgiua {
                                      display: none;
                                  }
                                  .banner .content .content-contact p span {
                                      padding: 0px;
                                  }
                                  .banner .content .input {
                                      margin-top: -38px;
                                      text-align: center;
                                  }
                                  .banner {
                                      min-height: 150vh;
                                  }
                                  .introduce .space-live .pr-15 {
                                      padding-right: 0px;
                                  }
                                  .introduce .space-live .right-image {
                                      padding: 15px 0px;
                                  }
                                  .introduce .space-live .pl-15 {
                                      padding-left: 0px;
                                  }
                                  .introduce .space-live .right-image .chiso {
                                      display: none;
                                  }
                                  .introduce .space-live .image {
                                      height: 300px;
                                  }
                                  #tongquan {
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .overview-project .image {
                                      height: 300px;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 15px 0px;
                                      margin-left: 0px;
                                  }
                                  .location {
                                      padding: 5px;
                                  }
                                  .location .container {
                                      max-width: 100%;
                                  }
                                  footer .contact .form-contact {
                                      padding: 15px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                              }
                              /* END  */
                              /* Iphone 678 xoay ngang  */
                              
                              @media (min-width:666px) and (max-width:667px) {
                                  .banner .content .content-contact,
                                  p {
                                      display: flex;
                                      flex-direction: column;
                                  }
                                  .banner .content .content-contact .gachgiua {
                                      display: none;
                                  }
                                  .banner .content .content-contact p span {
                                      padding: 0px;
                                  }
                                  .banner .content .input {
                                      margin-top: -38px;
                                      text-align: center;
                                  }
                                  .banner {
                                      min-height: 150vh;
                                  }
                                  .introduce .space-live .pr-15 {
                                      padding-right: 0px;
                                  }
                                  .introduce .space-live .right-image {
                                      padding: 15px 0px;
                                  }
                                  .introduce .space-live .pl-15 {
                                      padding-left: 0px;
                                  }
                                  .introduce .space-live .right-image .chiso {
                                      display: none;
                                  }
                                  .introduce .space-live .image {
                                      height: 300px;
                                  }
                                  #tongquan {
                                      flex-direction: column-reverse;
                                  }
                                  .introduce .overview-project .image {
                                      height: 300px;
                                  }
                                  .introduce .overview-project .left-image {
                                      padding: 15px 0px;
                                      margin-left: 0px;
                                  }
                                  .location {
                                      padding: 5px;
                                  }
                                  .location .container {
                                      max-width: 100%;
                                  }
                                  footer .contact .form-contact {
                                      padding: 15px;
                                  }
                                  footer .info img {
                                      height: 100%;
                                      padding: 26px 0px;
                                  }
                                  footer .contact .image-contact {
                                      display: none;
                                  }
                                  footer .contact .form-contact .title-form {
                                      padding: 0px;
                                      margin-left: 0px;
                                  }
                                  footer .contact .form-contact {
                                      width: 100%;
                                      padding: 15px;
                                  }
                                  footer .info .border-center {
                                      display: none;
                                  }
                                  footer .info {
                                      padding: 0px;
                                  }
                              }
                              
                              @media (max-width:991px) {
                                  header,
                                  header.sticky {
                                      padding: 10px 20px;
                                  }
                                  header .navigation {
                                      display: none;
                                  }
                                  header .navigation.active {
                                      width: 100%;
                                      height: calc(100% - 68px);
                                      position: fixed;
                                      top: 68px;
                                      Left: 0;
                                      display: flex;
                                      justify-content: center;
                                      align-items: center;
                                      flex-direction: column;
                                      background: #fff;
                                  }
                                  header .navigation li {
                                      margin-left: 0;
                                  }
                                  header .navigation li a {
                                      color: #111;
                                      font-size: 1.6rem;
                                  }
                                  .menuToggle {
                                      position: relative;
                                      width: 40px;
                                      height: 40px;
                                      background-image: url(../image/close.png);
                                      background-size: 30px;
                                      background-repeat: no-repeat;
                                      background-position: center;
                                      cursor: pointer;
                                  }
                                  .menuToggle .active {
                                      background: url(../image/close.png);
                                      background-size: 25px;
                                      background-repeat: no-repeat;
                                      background-position: center;
                                  }
                                  header.sticky .menuToggle {
                                      filter: invert(1);
                                  }
                                  section {
                                      padding: 20px;
                                  }
                                  .banner .content h3 {
                                      font-size: 3em;
                                      color: #fff;
                                  }
                                  .location p.text {
                                      text-align: justify;
                                  }
                                  .sodo .image-noikhu {
                                      display: none;
                                  }
                                  .sodo .left,
                                  .image {
                                      padding: 0px 0px;
                                  }
                                  .hinhanh .listhinhanh .container {
                                      width: 100%;
                                  }
                                  .hinhanh .title h1 {
                                      padding-top: 0px;
                                  }
                              }
                              
                              @media (max-width: 480px) {
                                  .banner .content h3 {
                                      font-size: 2.2em;
                                      color: #fff;
                                  }
                                  .hinhanh .listhinhanh .container {
                                      width: 100%;
                                  }
                                  .hinhanh .title h1 {
                                      padding-top: 0px;
                                  }
                              }