@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@100;200;300;400;500;600;800;900&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Regular';
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

p {
    font-weight: 300;
    color: #ffffff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/banner.png');
    background-size: cover;
}

.banner .content {
    position: relative;
    max-width: 900px;
    text-align: left;
}

.banner .content::before {
    content: '';
    position: absolute;
    width: 6px;
    height: 320px;
    background-color: #b4c7c7;
    opacity: 20%;
    left: -6%;
    top: -5%;
}

.banner .content p.title {
    font-size: 20px;
    opacity: 100%;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 20px;
    color: #ffffff;
}

.banner .content h3 {
    font-family: 'Playfair Display', serif;
    font-size: 74px;
    font-style: bold;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
}

.banner .content h3 strong {
    color: #118575;
}

.banner .content .content-contact {
    margin-bottom: 50px;
}

.banner .content .content-contact,
p {
    display: flex;
    color: #cacaca;
    font-size: 20px;
    font-style: bold;
    font-weight: 500;
}

.banner .content .content-contact p span {
    padding: 0px 15px;
    font-weight: 400;
    font-style: normal;
    color: #cacaca;
}

.banner .content .content-contact .gachgiua {
    padding-right: 15px;
    margin: 0px 22px;
}

.banner .content .input input {
    width: 150px;
    height: 50px;
    border: 1px solid;
    /* opacity: 40%; */
    color: #ffffff;
    border-color: #8a8a8a;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.5s;
}

.banner .content .input input:hover {
    width: 160px;
    transition: 0.5s;
    background-color: #118575;
}

.banner .content .input input::-ms-value {
    color: red;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: rgb(43, 43, 43);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky ul {
    margin-top: 14px;
    line-height: 14px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style-type: none;
    margin-left: 30px;
}

header .navigation li a {
    opacity: 100%;
    font-size: 17px;
    text-decoration: none;
    color: #f2f2f2;
    line-height: 20px;
}

header.sticky .navigation li a {
    color: #fff;
}

header .navigation li a:hover {
    color: #118575;
    transition: 1s;
}


/* giá bán căn hộ trong bảng  */

.price-apartment h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: #346473;
}

.price-apartment h1 span {
    font-weight: 900;
}

.price-apartment .gach-chan {
    border-bottom: 1px solid #d7d7d7;
    width: 215px;
    margin-left: 28rem;
    z-index: 1;
    margin-top: 25px;
}

.price-apartment .gachchan {
    position: absolute;
    border: 3px solid #346473;
    width: 71px;
    margin-left: 4.5rem;
    z-index: 10;
    margin-top: -2.5px;
}

.price-apartment .title-table {
    display: flex;
    justify-content: space-between;
}

.price-apartment .title-table img {}

.price-apartment .title-table p {
    line-height: 21px;
    margin-top: 12px;
    padding: 0px 70px;
    font-style: bold;
    color: #fff;
    font-size: 25px;
}

.price-apartment table tr.list-title {
    text-transform: uppercase;
}

.price-apartment table thead tr.top-one {
    background-color: #118575;
}

.price-apartment table thead .bot-table {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.price-apartment table thead .bot-table p {
    line-height: 21px;
    margin-top: 12px;
    padding: 0px 70px;
    font-style: bold;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: -50px;
}

.price-apartment table thead .bot-table .btn {
    background-color: #151b24;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0px 22px;
    margin-right: 20px;
}

.price-apartment table thead tr.bot-one {
    background-color: rgb(221, 98, 119);
}

.price-apartment table thead tr.bg-green {
    background-color: green;
}


/* end giá bán căn hộ trong bảng  */


/* giới thiệu không gian sống và tổng quan dự án  */

.introduce {
    background-color: #f8f8f8;
}

.introduce .space-live .col-lg-6 {
    padding: 0;
}

.introduce .space-live .pr-15 {
    padding-right: 15px;
}

.introduce .space-live .pl-15 {
    padding-left: 40px;
}

.introduce .space-live .image {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.introduce .space-live .right-image {
    padding: 88px 0px;
}

.introduce .space-live .right-image h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-style: bold;
    font-weight: 700;
    line-height: 40px;
    color: #9a9a9a;
}

.introduce .space-live .right-image h1 {
    text-transform: uppercase;
    color: #346473;
    font-weight: 600;
    font-size: 34px;
}

.introduce .space-live .right-image p.text {
    font-size: 14px;
    margin-top: 15px;
    color: #000000;
    font-weight: 500;
}

.introduce .space-live .right-image .chiso {
    margin-top: 30px;
}

.introduce .space-live .right-image .chiso ul {
    position: relative;
    list-style-type: none;
    display: flex;
}

.introduce .space-live .right-image .chiso ul li {
    position: relative;
    width: 95px;
    height: 95px;
    border: 2px dashed #346473;
    margin-right: 70px;
    border-radius: 100%;
    opacity: 100%;
}

.introduce .space-live .right-image .chiso ul li p {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    margin-top: 12px;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    color: #346473;
}

.introduce .space-live .right-image .chiso ul li:last-child p {
    margin-top: 29px;
}

.introduce .space-live .right-image .chiso ul li p span {
    text-transform: uppercase;
}

.introduce .space-live .right-image .chiso ul li p.text-chiso {
    font-size: 18px;
    font-weight: 500;
    color: #346473;
    padding: 20px 0px;
}

.introduce .overview-project .image {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.introduce .overview-project .pr-15 {
    padding: 0;
}

.introduce .overview-project .pl-15 {
    padding: 0;
}

.introduce .overview-project .left-image {
    padding: 88px 24px;
    margin-left: 146px;
}

.introduce .overview-project .left-image h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-style: bold;
    font-weight: 700;
    line-height: 40px;
    color: #9a9a9a;
}

.introduce .overview-project .left-image h1 {
    text-transform: uppercase;
    color: #346473;
    font-weight: 600;
    font-size: 34px;
}

.introduce .overview-project .left-image ul {
    position: relative;
    list-style-type: none;
    margin-left: -15px;
    padding: 20px 0px;
}

.introduce .overview-project .left-image ul a {
    display: flex;
}

.introduce .overview-project .left-image ul a .text {
    padding: 9px 0px;
    font-size: 14px;
    color: #000000;
    text-align: left;
}

.introduce .overview-project .left-image ul li img {
    padding: 0px 15px;
}

.introduce .overview-project .left-image ul a li {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    padding: 10px 0px;
}

.introduce .overview-project .left-image ul a li span {
    font-weight: normal;
}


/* END giới giới không gian sống .. dự án  */


/* vị trí đắt địa  */

.location {
    margin-top: 50px;
}

.location h3.title {
    font-size: 34px;
    color: #346473;
    text-transform: uppercase;
    text-align: center;
}

.location p.text {
    font-size: 16px;
    color: #000000;
}

.location .map img {
    width: auto;
}

.location .map {
    background-image: url(../image/map.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


/* END vị trí đắt đại  */


/* sơ đồ  */

.sodo {
    background: #f8f8f8;
}

.sodo .left,
.image {
    padding: 100px 28px;
}

.sodo p.text-left {
    display: unset;
    font-size: 16px;
    color: #535353;
    font-weight: 400;
}

.sodo h1 {
    text-transform: uppercase;
    font-size: 34px;
    color: #346473;
    font-weight: 400;
}

.sodo ul.nav-tabs {
    border-bottom: none;
    flex-direction: column;
    /* width: 200px; */
}

.sodo ul.nav-tabs li a {
    text-align: center;
}

.sodo ul.nav-tabs li {
    padding: 10px 0px;
}

.sodo ul.nav-tabs li a.active {
    /* color: red; */
    border: 1px solid;
    border-radius: 5px;
    background: #118575;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

.sodo .nav-tabs .nav-link {
    border: none;
    background: #91c9c0;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}

.sodo .image img {
    width: 600px;
    height: 500px;
}

.sodo ul {
    list-style-type: none;
}

.sodo .tab-content .tab-1 {
    display: flex;
}

.sodo .tab-content .tab-1 .five-eight ul {
    margin-left: 100px;
}

.sodo .tab-content .tab-2 .five-eight ul {
    margin-left: 55px;
}

.sodo .tab-content .tab-2 {
    display: flex;
}

.sodo .tab-content ul .d-flex {
    padding: 10px 0px;
}

.sodo .tab-content ul li {
    color: white;
    border: 1px solid;
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 100%;
    background: #118575;
}

.sodo .tab-content ul span {
    padding: 0px 9px;
}


/* end sơ đồ  */


/* mặt bằng chung  */

.matbangchung {
    position: relative;
    width: 100%;
    min-height: 900px;
    background: url('../image/matbangchung.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.matbangchung .title {
    text-align: center;
}

.matbangchung .title h1 {
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 61px;
}

.matbangchung .title h6 {
    color: #ffffff;
    font-weight: 300;
}

.matbangchung .title h6 {
    padding-top: 16px;
}

.matbangchung .block {
    margin-top: 30px;
}

.matbangchung .block img {
    width: 100%;
    height: 600px;
}

.matbangchung .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin-left: 35px;
    width: 64.9rem;
    padding: 1px 0px;
    background: #c1c0c045;
}

.matbangchung .nav-tabs .nav-item {
    margin-bottom: 0px;
    border-right: 1px solid white;
}

.matbangchung .nav-tabs .nav-item:last-child {
    border-right: none;
}

.matbangchung .nav-tabs .nav-link {
    width: 16rem;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
}

.matbangchung .nav-tabs .nav-link.active {
    background: none;
    border-color: unset;
    margin-top: -1px;
    border-radius: 0px;
    padding: 10px 0px;
    color: #118575;
}


/* end mặt bằng chung  */


/* thiết kế căn hộ  */

.thietkecanho {
    background: #f8f8f8;
    text-align: center;
}

.thietkecanho .title h1 {
    color: #346473;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 61px;
}

.thietkecanho .canho {
    margin-top: 30px;
}

.thietkecanho .canho img {
    width: 100%;
    height: 600px;
}

.thietkecanho .nav-tabs {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    margin-left: 137px;
    width: 52rem;
    padding: 1px 0px;
    background: #c1c0c045;
}

.thietkecanho .nav-tabs .nav-item {
    margin-bottom: 0px;
    border-right: 1px solid white;
}

.thietkecanho .nav-tabs .nav-item:last-child {
    border-right: none;
}

.thietkecanho .nav-tabs .nav-link {
    width: 16rem;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #118575;
}

.thietkecanho .nav-tabs .nav-link.active {
    background: none;
    border-color: unset;
    margin-top: -1px;
    border-radius: 0px;
    padding: 10px 0px;
    color: #043831;
}


/* END thiết kế căn hộ  */


/* thiết kế tinh tế  */

.thietketinhte {
    position: relative;
}

.thietketinhte .title {
    text-align: center;
    margin-bottom: 40px;
}

.thietketinhte .title h1 {
    color: #346473;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 61px;
}

.thietketinhte .title h6 {
    color: #000000;
    font-weight: 500;
}

.thietketinhte .title h6 {
    padding-top: 16px;
}

.thietketinhte .content {
    position: relative;
    display: flex !important;
}

.thietketinhte .content p {
    display: unset;
    font-size: 18px;
    color: #000000;
    text-align: justify;
    padding: 61px 69px;
    line-height: 36px;
}

.thietketinhte .content img {
    width: 555px;
}

.thietketinhte .image {
    padding: unset;
}

.thietketinhte .image img {
    position: absolute;
    top: 47%;
    left: 40.8%;
}

.thietketinhte .border-1 {
    border: 1px solid #d7d7d7;
}


/* END thiết kế tinh tế  */


/* hình ảnh */

.hinhanh .title {
    text-align: center;
}

.hinhanh .title img {
    margin-bottom: 10px;
}

.hinhanh .title h1 {
    color: #346473;
    font-size: 34px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 61px;
    text-align: center;
}

.hinhanh .list-image .row {
    display: flex;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.hinhanh .list-image .column {
    -ms-flex: 33.333%;
    /* IE10 */
    flex: 33.333%;
    max-width: 33.333%;
    padding: 0 4px;
}

.hinhanh .list-image .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


/* END  hình ảnh  */


/* footer */

footer {
    background: #f8f8f8;
}

footer .info {
    display: flex;
    justify-content: space-between;
    padding: 67px 0px;
}

footer .info .border-center {
    border: 2.5px solid #000000;
    opacity: 10%;
    height: 150px;
    width: 0px;
}

footer .info img {
    height: 80px;
    margin-top: 35px;
}

footer .info .thongtin ul {
    list-style-type: none;
}

footer .info .thongtin ul a {
    font-size: 18px;
    color: #346473;
    line-height: 34px;
}

footer .info .thongtin ul img {
    height: auto;
    margin-top: 0px;
}

footer .contact {
    display: flex;
}

footer .contact .image-contact img {
    width: 950px;
}

footer .contact .form-contact {
    background: #159688;
}

footer .contact .form-contact .title-form {
    padding: 0px 103px;
    margin-left: -23px;
}

footer .contact .form-contact .title-form h3 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 300;
}

footer .contact .form-contact .title-form p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
}

footer .contact .form-contact .title-form .input input,
textarea,
button {
    padding: 10px 10px;
    margin: 8px 0px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: #159688;
}

footer .contact .form-contact .title-form .input input,
textarea::placeholder {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
}

#mess {
    margin: 10px 0px;
}

footer .contact .form-contact .title-form .btn {
    margin-top: 10px;
}


/* END footer  */