    @import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', 'Regular';
        scroll-behavior: smooth;
    }
    
    p {
        font-weight: 300;
        color: #111;
    }
    
    .banner {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../image/banner.png');
        background-size: cover;
    }
    
    .banner .content {
        max-width: 900px;
        text-align: center;
    }
    
    .banner .content p.title {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 6px;
        line-height: 20px;
        color: #ffffff;
    }